
[mat-fab] {
    position: absolute;
    right: 2%;
    top: 85px;
    z-index: 1;
    background-color: lightgrey;
}

/* chat body container */
.chat-container {
    position: fixed;
    width: 100%;
    height: 100%;
    color: black;
}

/* chat input and indication under */
.chat-input {
    padding-top: 10px;
    padding-top: 10px;
    width: 80%;
    color: black;
    border: 1px solid grey;
}

/* messages color */
.chat-list {
    overflow: auto;
    position: fixed;
    top: 90px;
    left: 25px;
    right: 25px;
    bottom: 120px;
}

/* chat messages */
.chat-list-item {
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 5px;
    background-color: #E8EAF6;
}

.main-card {
    height: 100%;
}

.chat-footer-container {
    position:fixed;
    bottom:25px;
    left:25px;
    right:25px;
    color: black;
}

.chat-notification {
    text-align: center;
}
