<!-- <div class="headerReplay page-header">
        <h1 style="color: white">Cours 1 <small>Video de présentation du projet</small></h1>
</div>       -->

<div class="bg-blue_max-width">
    <p><b class="font-color1" style="font-family: 'Rubik', serif">Live : </b>Votre professeur en temps réel </p>
</div>


<iframe allowfullscreen [src]="dataChannel | safe:'resourceUrl'" width="100%" height="500"></iframe>

