*{font-family: 'Rubik', serif;}

/* .blockCours
{
    float: left;
    margin: 2% 0% 0% 1.8%;  
} */
.font-color1 {
  color: #f06595 !important;

}
.font-color2 {
  color: #20c997 !important;
}
.font-color3 {
  color: #339af0 !important;
}
.font-color4 {
  color: #845ef7 !important;
}

.color1 {
  background-color: #f3f0ff;
}

.color2 {
  background-color: #e3fafc;
}

.color3 {
  background-color: #fff5f5;
}

.color4 {
  background-color: #e7f5ff;
}

.btn-cards {
  color: black !important;
  background-color: #a9a9a938 !important;
  border-color: darkgray !important;
}

.blockFlex
{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

#header
{
    /* background-color: #f1f1f1; */
    margin: 1.8% 1.8% 0% 1.8%;
}

#portraitProf
{
    margin: 0% 0% 1% 1%;
}

#nameHeader
{
    margin-left: 10%;
}

#deconnection
{
    float: right !important;
    /* margin-right: 0%; */
    right: 0%;
    position: absolute;
    width: 14%;
    margin-top: 5%;
}
.imgDeco
{
    width: 25%;
    float: right;
    margin-right: 25%;
    margin-top: -3%;
}

#btnDeco
{
    width: 100%;
    border-style: none;
    background-color: transparent;
    margin-top: 13%;
}

#contentNoUser
{
    color: red;
    width: 50%;
    margin: 20% auto;

}

.card-title {
  font-family: "Rubik";
  font-size: 1.1em !important;
}

.card.blockCours {
    width: 24rem;
    margin-bottom: 25px;
    margin-left:10px;
}

.bg-blue_max-width {
    background-image: url("https://i.imgur.com/2E5FMGr.png");
    background-size: cover;
    font-style: italic;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    padding-bottom: 105%;
    background-color: #343a40 !important;
}
.bg-blue_max-width p {
    padding-top: 7%;
}

@media screen and (min-width: 1041px) { 
    .bg-blue_max-width {
        background-color: #343a40;
        width: 100%; 
        height: 300px;
        padding: 0 310px;
      font-weight: 700;
    }

} 

@media screen and (min-width: 961px) and (max-width: 1040px) { 
    .bg-blue_max-width {
        background-color: #343a40;
        width: 100%; 
        height: 200px;

    }
} 
@media screen and (min-width: 721px) and (max-width: 960px) { 
    .bg-blue_max-width {
        background-color: #343a40;
        width: 100%; 
        height: 100px;
    }
} 
@media screen and (max-width: 720px) { 
    .bg-blue_max-width {
        background-color: #343a40;
        width: 100%; 
        height: 50px;
    }
} 
