
<div class="bg-blue_max-width">
  <p>Notre savoir-faire, accompagné de l’ensemble de ces <span class="font-color1">outils technologiques</span>, <span class="font-color2">dématérialise</span> le concept même de <span class="font-color1">l’école</span> </p>
</div>

<!-- <div *ngIf="isUser;else contentNoUser"> -->
<div  class="" id="header"> </div>
<div class="" id="content">
<div class="blockFlex row">
  <div class="card blockCours col-md-3 col-xs-12 color1" style="padding-left:0px !important;padding-right: 0px !important;">
    <img class="card-img-top" src="https://blog.logoscloud.com/files/2015/12/DSC_3107.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><b>Le cours</b></h5>
      <p class="card-text">Entrer dans la salle pour voir les cours disponibles.</p>
      <a href="/streamBoard" class="btn btn-primary btn-cards">Entrer en salle</a>
    </div>
  </div>

  <div class="card blockCours col-md-3 col-xs-12 color2"  style="padding-left:0px !important;padding-right: 0px !important;">
    <img class="card-img-top" src="../../assets/img/replay.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><b>Replays</b></h5>
      <p class="card-text">Voir ici tous les derniers cours en replay disponible.</p>
      <a href="/replay" class="btn btn-primary btn-cards">Voir les replays</a>
    </div>
  </div>

  <div class="card blockCours col-md-2 col-xs-12 color3"  style="padding-left:0px !important;padding-right: 0px !important;">
    <img class="card-img-top" src="https://cdn-images-1.medium.com/max/1600/1*VrpS7OXiP5W5eqT8PuFdZw.jpeg"
         alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><b>Chat</b></h5>
      <p class="card-text">Venez discuter avec vos camarades de classe ou votre professeur.</p>
      <a routerLink="/chat" class="btn btn-primary btn-cards">Entrer dans le chat</a>
    </div>
  </div>
  <div class="card blockCours col-md-2 col-xs-12 color4"  style="padding-left:0px !important;padding-right: 0px !important;">
    <img class="card-img-top" src="../../assets/img/profil.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><b> Modifier mon profil</b></h5>
      <p class="card-text">Modifier les informations de votre compte ou personaliser votre profil</p>
      <a href="/modifProfil" class="btn btn-primary btn-cards">Modifier mon profil</a>
    </div>
  </div>

</div> 
</div>
  <!-- <div class="row">
    <div class="col-md-6" style="max-width: 18%;">
      <img id="portraitProf" data-src="holder.js/260x180" alt="260x180"
        style="width: 200px; height: 180px; margin-top: 7%; margin-left: 4%;" src="{{userInfos.photo}}">
    </div> -->
    <!-- gif:  http://cdn.shopify.com/s/files/1/0346/5945/files/ccostanza_grande.gif?68 -->
    <!-- <div class="col-md-6">
      <h1 id="portraitProf" style="margin-left: 10%;">
        <p>Professeur </p>  -->
        <!-- *ngIf="userInfos.is_prof == 1;else eleve" -->
        <!-- <ng-template #eleve><p>Eleve </p></ng-template> -->
        <!-- <small>{{ userInfos.lastName }} {{ userInfos.firstName }}</small>
      </h1>
      <p id="portraitProf" style="margin-left: 10%;"><small><b>Statistique de la semaine : </b>
          {{userInfos.coursesTime}}h de cours</small></p>
      <p id="portraitProf" style="margin-left: 10%;"><small><b>Vos commentaire et avis : </b> <a href="#">Voir ici</a>
        </small></p>

        <p id="portraitProf" style="margin-left: 10%;"><small><b> {{userInfos.credit}} crédits <i class="fa fa-coins"></i> </b>
        </small></p> -->

      <!-- <p id="portraitProf" style="margin-left: 10%;"><small><b>Votre emploi du temps : </b> <a href="#">Voir ici</a>
        </small></p> -->
    <!-- </div>
    <div id="deconnection">
      <button id="btnDeco" (click)="logout()">
        <img class="card-img-top imgDeco" src="../../assets/img/power_off.png">
        <p><small><b>Deconnexion</b></small></p>
      </button>
    </div>
  </div> -->
  <!-- <h1 id="portraitProf" style="margin-left: 10%;">Professor <small>Cambianica Bruno</small></h1> -->
  <!-- <img id="portraitProf" data-src="holder.js/260x180" alt="260x180" style="width: 260px; height: 180px;" src="http://cdn.shopify.com/s/files/1/0346/5945/files/ccostanza_grande.gif?68"> -->
  <!-- </div> -->

<!-- <ng-template #contentNoUser>
<div id="contentNoUser">
    <p><b>Votre session est expirée ou innexistante</b></p>
    <small style="width: 100%; margin-right: 6%;">S'il vous plait veillez vous reconnecter</small>
    <a href="/" class="btn btn-primary">Reconnexion</a>
</div>
</ng-template> -->
