<div class="body opacity">
  <div id="content">
    <form (ngSubmit)="logForm()">
        <div class="form-group">
          <label class="labelLogin">Adresse Email</label>
          <input type="email" class="form-control" [(ngModel)]="loginForm.username" name="username" placeholder="email">
        </div>
        <div class="form-group">
          <label class="labelLogin">Mot de passe</label>
          <input type="password" class="form-control" [(ngModel)]="loginForm.password" name="password" placeholder="Mot de passe">
          <p class="error-message">{{loginError}}</p>
        </div>
        <a style="color: white" routerLink="/subscribe">Vous n'avez pas de compte ? Créer en un maintenant ! </a> <br>
        <button type="submit" class="btn btn-primary">Connexion</button>
    </form>
  </div>
</div>
