<h4 mat-dialog-title>{{params.title}}</h4>

<mat-dialog-content>
  <mat-form-field>
    <input matInput name="username" placeholder="Username"
           [(ngModel)]="params.username" (keyup.enter)="onSave()" [formControl]="usernameFormControl" required>
    <mat-error>Ce champ est obligatoire !</mat-error>
    <mat-hint>Veuillez taper un pseudonyme</mat-hint>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions *ngIf="params?.typeDialog === 'new-user'" [attr.align]="'end'">
  <button mat-raised-button color="primary" mat-dialog-close (click)="onSave()" [disabled]="usernameFormControl.hasError('required')">Le tchat des familles !</button>
</mat-dialog-actions>

<mat-dialog-actions *ngIf="params?.typeDialog === 'edit-user'" [attr.align]="'end'">
  <button mat-button mat-dialog-close color="secondary">Close</button>
  <button mat-raised-button color="primary" mat-dialog-close (click)="onSave()">Save</button>
</mat-dialog-actions>
