.headerLeft
{
    position: relative;
    float: left;
    width: 45%;
}

.headerRight
{
    position: relative;
    float: right;
    width: 9%;
}

.headerContent
{
    width: 100%;
    height: 30px;
}

.name
{
    margin-right: 5%;
}

.home
{
    margin-left: 5%;
    height: 10%;
}