
<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <div class="headerContent">
      <div class="headerLeft"> 
        <span class="name">{{firstName}}</span>
        <span>110</span>
        <i class="fas fa-coins"></i>
      </div>
      <div class="headerRight">
        <span>{{date}}</span>
        <span class="home">
            <a routerLink="/dashBoard">
              <i class="fas fa-home"></i>
            </a>
        </span>
      </div>
    </div>
</nav>

<router-outlet></router-outlet>




