.body {
    font-family: "Rubik";
    font-size: 16px;
    background-color: #E8EAF6 !important;
}

.headerLeft
{
    position: relative;
    float: left;
    width: 45%;
}

.card {
  max-width: 24% !important;
}

.headerRight
{
    position: relative;
    float: right;
    width: 9%;
}

.headerContent
{
    width: 100%;
    height: 30px;
}

.name
{
    margin-right: 5%;
}

.home
{
    margin-left: 5%;
    height: 10%;
}
header {
    position: relative;
    width: 100%;
    padding-bottom: 80px;
}
@media screen and (min-width: 1350px) {
    nav.navbar.navbar-expand-lg.navbar-light {
        padding: 0 310px;
    }
    .navbar-light .navbar-brand {
        margin-right: 110px;
    }
}
nav {
    width: 100%;
    background-color: #155592;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
}
nav.navbar.navbar-expand-lg.navbar-light {
    height: 80px;
}

nav.navbar.navbar-expand-lg.navbar-light img{
    width: 55px;
}

nav.navbar.navbar-expand-lg.navbar-light li{
    margin: 0 15px;
}

.nav-title {
    color: white;
    font-size: 40px;
}
@media screen and (max-width: 360px) {
    .nav-title {
        color: white;
        font-size: 39px;
    }
}
.navbar-light .navbar-nav .nav-link {
    color: white;
  font-family: "Rubik";
  font-size: 1.1em !important;
}


/* hover */
.navbar-light .navbar-nav .nav-link:hover {
    border-bottom: 3px solid black; 
    color: black;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #2DAAE1;
}


