<!-- Image and text -->
<!-- <nav class="navbar navbar-light bg-light">
  <div class="headerContent">
      <div class="headerLeft">
        <span class="name">{{lastName}} {{firstName}}</span>
        <span>110</span>
        <i class="fas fa-coins"></i>
      </div>
      <div class="headerRight">
        <span>{{date}}</span>
        <span class="home">
            <a routerLink="/dashBoard">
              <i class="fas fa-home"></i>
            </a>
        </span>
      </div>
    </div>
</nav> -->
<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand nav-title" routerLink="/dashBoard">LITTLE<b>BACK</b>UP</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/cours">Cours</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/streamBoard">Stream</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/replay">Replay</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/chat">Chat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/modifProfil">Profil</a>
        </li>
      </ul>

      <div class="form-inline my-2 my-lg-0">
        <a class="navbar-brand" (click)="disconnect()">
          <i class="fas fa-sign-out-alt" style="color:whitesmoke"></i>
        </a>
      </div>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
