<div class="body opacity">
  <div id="content">
    <form (ngSubmit)="postSubForm()">
      <div class="form-group">
        <label class="labelLogin">Nom</label>
        <input type="text" class="form-control" [(ngModel)]="subForm.nom" name="nom">
      </div>
      <div class="form-group">
        <label class="labelLogin">Prénom</label>
        <input type="text" class="form-control" [(ngModel)]="subForm.prenom" name="prenom">
      </div>
      <div class="form-group">
        <label class="labelLogin">Adresse mail</label>
        <input type="email" class="form-control" [(ngModel)]="subForm.mail" name="mail">
      </div>
      <div class="form-group">
        <label class="labelLogin">Mot de passe</label>
        <input type="password" class="form-control" [(ngModel)]="subForm.password" name="password">
      </div>
      <div class="form-group">
        <label class="labelLogin">Vérification mot de passe</label>
        <input type="password" class="form-control" [(ngModel)]="passwordCheck" name="passwordCheck">
      </div>    
      <button type="submit" class="btn btn-primary">Inscription</button>
    </form>
  </div>
</div>