<!-- <div class="headerReplay page-header">
  <h1 style="">Modifier votre profil <small></small></h1>
</div> -->
<div class="bg-blue_max-width">
    <p>Modifier votre profil</p>
</div>

<div id="content" style="margin-top: 25px;">
  <a href="/" class="btn btn-primary">Home</a>
  <form (ngSubmit)="updateUser()">

      <div class="form-group">
        <label class="labelModif">Adresse Email</label>
        <input type="email" class="form-control" [(ngModel)]="userInfos.email" name="email" placeholder="email">
      </div>

      <div class="form-group">
        <label class="labelModif">Nom</label>
        <input type="text" class="form-control" [(ngModel)]="userInfos.lastName" name="lastName" placeholder="Nom">
      </div>

      <div class="form-group">
        <label class="labelModif">Prenom</label>
        <input type="text" class="form-control" [(ngModel)]="userInfos.firstName" name="firstName" placeholder="Prénom">
      </div>

      <div class="form-group">
        <label class="labelModif">photo</label>
        <input type="text" class="form-control" [(ngModel)]="userInfos.photo" name="photo" placeholder="Url photo">
      </div>

      <!-- <div class="form-group">
        <label class="labelModif">Mot de passe</label>
        <input type="text" class="form-control" [(ngModel)]="userInfos.password" name="password" placeholder="Mot de passe">
      </div> -->
      <!-- <div class="form-group">
    
          <button md-button value="1">Eleve</button>
          <button md-button value="2">Professeur</button>
       
      </div> -->
      <button type="submit" style="float:left;" class="btn btn-warning">Recevoir un nouveau mot de passe par mail</button>
      <button type="submit" style="float:right;" class="btn btn-primary">Sauvegarder mes infos</button>
  </form>
</div>