.headerReplay
{
    text-align: center;
    height: 17%;
    /*margin-bottom: 30%;*/
    /*position: absolute;*/
    width: 100%;
    background-color: grey;
}

#content
{
    margin: auto;
    text-align: center;
    width: 50%;
}

.labelModif
{
    float:left;
}

.mat-radio-button ~ .mat-radio-button {
    padding-right: 16px;
}

.bg-blue_max-width {
    font-style: italic;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    height: 100px;
}

.bg-blue_max-width p {
    padding-top: 1%;
}

@media screen and (min-width: 1041px) { 
    .bg-blue_max-width {
        background-color: #2DAAE1;
        width: 100%; 
        padding: 0 310px;
    }
} 

@media screen and (min-width: 721px) and (max-width: 1040px) { 
    .bg-blue_max-width {
        background-color: #2DAAE1;
        width: 100%; 
    }
} 

@media screen and (max-width: 720px) { 
    .bg-blue_max-width {
        background-color: #2DAAE1;
        width: 100%; 
        height: 50px;
    }
} 