<!-- <div class="headerReplay page-header">
  <h1 style=" color:white;">Replay <small>Regarder les cours que vous avez raté...</small></h1>
</div> -->

<div class="bg-blue_max-width">
    <p>Regarder les cours que vous avez raté...</p>
</div>

<div id="container" *ngIf="replays">
  <!-- <video *ngFor="let replay of replays" width="320" height="320" controls>
    <source src="{{replay.urlVideo}}" type="video/mp4">
  </video> -->

  <div *ngFor="let replay of replays">
      <iframe width="320" height="200" src="{{ replay.urlVideo }}" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  
</div>