
.headerReplay
{
    text-align: center;
    height: 17%;
    /* position: absolute; */
    width: 100%;
    background-color: grey;
}

#container
{
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 3% auto;
}

.bg-blue_max-width {
    font-style: italic;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    height: 100px;
}

.bg-blue_max-width p {
    padding-top: 2%;
    font-family: 'Rubik', serif;
    font-weight: 700;
}

@media screen and (min-width: 1041px) { 
    .bg-blue_max-width {
        background-color: #343a40;
        width: 100%; 
        padding: 0 310px;
    }
} 

@media screen and (min-width: 721px) and (max-width: 1040px) { 
    .bg-blue_max-width {
        background-color: #343a40;
        width: 100%; 
    }
} 

@media screen and (max-width: 720px) { 
    .bg-blue_max-width {
        background-color: #343a40;
        width: 100%; 
        height: 50px;
    }
} 
