<div class="headerReplay page-header">
  <h1 style=" color:white; margin-top: 2%;">Replay <small>Regarder les cours que vous avez raté...</small></h1>
</div>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img class="blockReplay" src="https://source.unsplash.com/random/300x180" alt="...">
      <p class="txtBlockReplay">Cours du 15/02/2018</p>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img class="blockReplay" src="https://source.unsplash.com/random/300x180" alt="...">
      <p class="txtBlockReplay">Cours du 16/02/2018</p>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img class="blockReplay" src="https://source.unsplash.com/random/300x180" alt="...">
      <p class="txtBlockReplay">Cours du 17/02/2018</p>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img class="blockReplay" src="https://source.unsplash.com/random/300x180" alt="...">
      <p class="txtBlockReplay">Cours du 18/02/2018</p>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img class="blockReplay" src="https://source.unsplash.com/random/300x180" alt="...">
      <p class="txtBlockReplay">Cours du 19/02/2018</p>
    </a>
  </div>
</div>