
<div class="bg-blue_max-width">
    <p>Des cours adaptés et disponibles pour tous </p>
</div>

 <div class="container" *ngIf="lesCours">
    <div class="cours" *ngFor="let unCour of lesCours">
        <img class="cours-img" src="http://img.youtube.com/vi/{{unCour.urlVignette.substring(30)}}/hqdefault.jpg" width="100%"/>
        <div>
          <p class="category">Géographie</p>
          <b>{{unCour.title}}.</b> 
          <p>
            <img src="../../assets/img/rating.jpg" style="width: 15px;">
            Moyenne
          </p>
          <p>{{unCour.description}}.</p>
          <a href="/replay" class="btn btn-primary btn-cards">Voir le cours</a>
        </div>
    </div>
  </div> 
  
  <!-- <p>
    Tilte du cours : {{ titleCour }}
  </p>
  <p>
    Description du cours : {{ descCour }}
  </p>

  <p> 
    Cours du jour : {{ daylyCour }}
  </p> -->

