
.container {
    margin-top: 50;
    max-width: none;
}

.cours {
    margin-top: 25px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
}

.cours:hover {
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
}
.category {
    color: #2DAAE1;
}

.cours-img {
    width: 345px;
    height: 230px;
}

.bg-blue_max-width {
    font-style: italic;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    padding-bottom: 105%;
}
.bg-blue_max-width p {
    padding-top: 7%;
}

@media screen and (min-width: 1041px) { 
    .bg-blue_max-width {
        background-color: #343a40;
        width: 100%; 
        height: 300px;
        padding: 0 310px;
    }
    .container {
        padding: 0 310px;
    }
    .cours {
        display: flex;
    }
    .cours img{
        width: 30%;
        margin-right: 10px;
    }
} 

@media screen and (min-width: 961px) and (max-width: 1040px) { 
    .bg-blue_max-width {
        background-color: #343a40;
        width: 100%; 
        height: 200px;
    }
    .cours img{
        width: 30%;
        margin-right: 10px;
    }
} 
@media screen and (min-width: 721px) and (max-width: 960px) { 
    .bg-blue_max-width {
        background-color: #343a40;
        width: 100%; 
        height: 100px;
    }
} 
@media screen and (max-width: 720px) { 
    .bg-blue_max-width {
        background-color: #343a40;
        width: 100%; 
        height: 50px;
    }
}
